# System files
.DS_Store
*.swp
*.swo

# Virtual environment
venv/

# Large model files (consider storing these elsewhere or using Git LFS)
rf_model.pkl
scaler.pkl

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
